extends ./../partials/layout.jade

block content
  #home
    .blue
      .stars

      include ./../partials/header.jade

      .reverse-split-banner.responsive-content-wrapper
        .copter-wrapper
          .copter.fly-left
        .intro-text
          h2 Welcome to Firefox Test Pilot!
          p We're always trying out new features in Firefox. <br> Pick any of the tests below to see what we're working on!
      .responsive-content-wrapper
        #experiment-list.experiments
          each test in tests

            a.experiment-summary(href="activity-stream.html").logged-in
              .experiment-icon-wrapper(style='background: linear-gradient(#{test.colorway[2]},#{test.colorway[0]},#{test.colorway[1]})')
                .experiment-icon(class="#{test.slug}")
              .experiment-information
                header
                  h3 #{test.title}
                p #{test.short}
              .experiment-actions
                .actions.no-display
                  button.button.secondary(data-type='manage') Manage
                .actions
                  button.button.default(href="#{test.path}") Get Started

    include ./../partials/modals.jade

  .help-button
    span Helpers: 
    button.button.default(data-hook="toggle-active") Show/Hide Active
    a.button.default(href='main-doorhanger.html') See doorhanger
    a.button.default(href='ratings-scale.html') Show Feedback Prompt
