extends ./../partials/layout.jade

block content
  #index
    .blue
      .stars
      header#main-header.responsive-content-wrapper
        h1
          span.firefox-logo
          span #{title}
        a.button.outline(href="get-the-add-on.html") #{index.signIn}
      .split-banner.responsive-content-wrapper
        .copter-wrapper.fly-up
          .copter
        .intro-text.delayed-fade-in-up
          h2.banner
            span.block #{index.subTitle[0]}
            span.block #{index.subTitle[1]}
            span.block #{index.subTitle[2]}
      .centered-banner.responsive-content-wrapper.delayed-fade-in-up
        a.button.large.primary(href="get-the-add-on.html" data-response="toggle") #{index.primaryButton}
        include ./../partials/not-firefox.jade
      p.legal-information #{index.legalBoilerplate}
    .responsive-content-wrapper
      h2.experiment-list-header #{index.featureOverview}
      #experiment-list.experiments
        each test in tests
          .experiment-summary
            .experiment-icon-wrapper(style='background: linear-gradient(#{test.colorway[2]},#{test.colorway[0]},#{test.colorway[1]})')
              .experiment-icon(class="#{test.slug}")
            .experiment-information
              header
                h3 #{test.title}
              p #{test.short}
    .blue
      footer#main-footer.responsive-content-wrapper
        .centered-banner
          .copter-wrapper
            .copter
          h2 More tests coming soon!
          a.button.large.primary(data-response="toggle" href="get-the-add-on.html") #{index.primaryButton}
          include ./../partials/not-firefox.jade

        include ./../partials/footer-links.jade

  .help-button
    span Helpers: 
    button.button.default(data-trigger="toggle") Show/Hide Non-FF UI

