extends ./../partials/layout.jade

block content
  #browser-doorhanger-wrapper.main
    #browser-doorhanger.main
      each test in tests
        .doorhanger-experiment
          .doorhanger-icon-wrapper(style='background: linear-gradient(#{test.colorway[2]},#{test.colorway[0]},#{test.colorway[1]})')
            .doorhanger-icon(class="#{test.slug}")
          .doorhanger-experiment-title #{test.title}
            span.active-span.no-display Now Active
      a.view-all(href='home.html') View all experiments

  #full-page-wrapper.space-between.blue
    
  .help-button
    span Helpers: 
    button.button.default(data-hook='toggle-active-doorhanger') Show/Hide Active
